@import 'variables';
.smth {
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        margin-inline: auto;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}