$mainColor: #0e0e0e;
$grayBg: #f6f6f6;
$footerColor: #ebebeb;
@font-face {
    font-family: 'accent';
    src: url(../fonts/play/PlayfairDisplay-VariableFont_wght.ttf);
}

;
@font-face {
    font-family: 'main';
    src: url(../fonts/work/WorkSans-VariableFont_wght.ttf);
}

.visible-flex {
    display: flex !important;
}

.visible-not {
    display: none !important;
}